syntax: glob
*.*.orig
*.*scc
*.[Dd]ot[Ss]ettings.user
*.[Rr]e[Ss]harper
*.aps
*.bak
*.cache
*.eto
*.fb6lck
*.fb7lck
*.fbl6
*.fbl7
*.fbpInf
*.gpState
*.ilk
*.ncb
*.ncrunchproject
*.ncrunchsolution
*.obj
*.opensdf
*.patch
*.pch
*.plg
*.psess
*.rdl.data
*.resharper
*.sbr
*.sln.docstates
*.sqlsuo
*.suo
*.svclog
*.swp
*.tlh
*.tli
*.tmp
*.tmp_proj
*.user
*.vs10x
*.vshost.*
*DXCore.Solution
.DS_Store
.sass-cache
.svn
[Bb]in
[Dd]ebug
[Nn]u[Gg]et.exe
[Oo]bj
[Pp]ackages
[Pp]ublish
[Rr]elease
[Tt]humbs.db
_[Rr]e[Ss]harper.*
_svn
_UpgradeReport_Files
_vti_*
Ankh.Load
AssemblyInfo.Version.cs
Backup*
BuildSource.txt
css/reveal.min.css
CVS
js/reveal.min.js
lint.db
log/*.log
node_modules/
Nuget.Version.cs
PrecompiledWeb
StyleCop.Cache
svnignore[.-]
tags
tmp/**
UpgradeLog*.*